/node_modules
/public/hot
/public/storage
/public/upload
/public/modules
/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.readme
/.composer.lock
/public/modules
Modules/Admin/Resources/views/order/assets
