.iv-select-text:focus {
  border-top: 1px solid #ccc !important;
  border-right: 1px solid #ccc !important;
  border-left: 1px solid #ccc !important;
  border-bottom: hidden;
}

.iv-select-options {
  position: absolute;
  max-height: 200px;
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-all;
  border-top: hidden;
  border-right: 1px solid #ccc !important;
  border-left: 1px solid #ccc !important;
  border-bottom: 1px solid #ccc !important;
  border-radius: 0 0 4px 4px;
  outline: none !important;
  box-shadow: 0 0 10px #719ece;
  font-size: 13px;
  background-color: white !important;
}

.iv-select-options option {
  padding: 2px 0px 2px 10px !important;
  text-align: left;
}

.inline-input {
  min-width: 150px;
  max-width: 250px;
  display: inline-block;
}
.w3-hover-blue:hover {
  background-color: #1967d2 !important;
}
.iv-select-search {
  padding: 3px 10px;
}
.iv-select-search:focus-visible {
  outline: 1px solid black;
}
