<ul id="myTab" class="nav nav-tabs" role="tablist">
   <li id="info-po" class="{{ _COOKIE['rp-tab'] == 0 ? 'active' : '' }}">
      <a href="#tabs-1" data-toggle="tab" role="tab" aria-controls="nav-request-pickup" aria-selected="true">Allocate</a>
   </li>
   <li id="export" class="updateLog {{ _COOKIE['rp-tab'] == 2 ? 'active' : '' }}">
      <a href="#tabs-2" data-toggle="tab">Update Log<span class="button-tab" role="tab" aria-controls="nav-updatelog" aria-selected="true"></span>
      </a>
   </li>
</ul>